<div class="contenedor1" >
  <menu></menu>    
  <div class="roulet" >
    <router-outlet></router-outlet>
  </div>
  <section id="footer" class="sec1">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Informacion Personal</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Joan Sabotig</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>joansabotig96@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Carrera</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tecnicatura Superior en Programacion</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>2018</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Materia</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Laboratorio de computacion IV</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Ernesto Cullen</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Alexis Rodriguez Causa</a></li>
            </ul>
          </div>
        </div>		
      </div>
    </section>

</div>


